       body
       {
                background-color: #D2CAEC;
        }
       
       .table
       {
                text-align: center;
                margin: auto;
                
        }

                
        .Total
        {
                text-align: right;
                margin: auto;
                width: 205px;
        }
        .Tot
        {
                text-align: right;
                margin: auto;
                width: 125px;
        }
        .tble
        {
                text-align: right;
                margin: auto;
        }
   
        
        
    